.header {
  display: flex;
  padding: 0 40px;

  &__nav {
    margin: 0 auto;
    transform: translateX(-110px);
  }

  &__link {
    color: white;
    text-decoration: none;
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }

    &:hover {
      color: lightgray;
    }

    &_active {
      color: lightskyblue;
    }
  }
}
